<% @user ||= current_user %>
<div class="stats">
  <a href="#">
    <strong id="following" class="stat">
      <%= @user.lists.count %>
    </strong>
    lists.
  </a>
  <a href="#">
    <strong id="followers" class="stat">
      <%= "also find me at shared/_stats" %>
    </strong>
    tasks.
  </a>
</div>
