<% @user ||= current_user %>
<div class="stats">
  <a href="#">
    <strong id="following" class="stat">
      <%= "find me at shared/_stats" %>
    </strong>
    following
  </a>
  <a href="#">
    <strong id="followers" class="stat">
      <%= "also find me at shared/_stats" %>
    </strong>
    followers
  </a>
</div>
